
Your shortened URL is:

<%= @url.original_url %>

<a href="<%= request.base_url + "/" + @url.short_url %>"><%= @url.original_url %></a>

<%  @allurl.each do |url| %>
Original URL: <%= url.original_url %>
Shortened URL: <a href="<%= request.base_url + "/" + url.short_url %>"><%= request.base_url + "/" + url.short_url %></a>

<% end %>
